<!DOCTYPE html>
<html>
    <head>
        {% block head %}
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  
            <title>{% block title %}{% endblock %} - Krtk demo</title>
        {% endblock %}
    </head>
    <body>
        <div id="content">
        {% block nav %}{% endblock %}
        
        {% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
            {% endblock %}
        </div>
    </body>
</html>