{% extends "base.html.twig" %}

{% block title %}Generate new invoice{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
{% include 'nav.html.twig' %}



   <div class="flex flex-row"> 
   <div class="container mx-auto">
   <div class="flex-none w-full h-20 bg-teal-600 mt-2 text-left align-middle"> 
   <h2 class="text-2xl text-white align-middle h-full uppercase p-5">invoice </h2>
   </div>
   <div class="flex w-full flex-col bg-gray-200 shadow-lg h-auto">
   {% if form_errors(form) %}
   <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative flex-none w-full" role="alert">
  <strong class="font-bold">Error in form validation</strong>
  <span class="block sm:inline">{{ form_errors(form) }}</span>
  <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
    <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
  </span>
</div>
{% endif %}
{{form_start(form)}}     
     <div class="flex flex-row">   <div class="flex-none w-1/3">
   <label class="block text-gray-700 text-sm font-bold mb-2" >
        {{form_label(form.invoice_date)}}
      </label>
  {{form_widget(form.invoice_date)}}
  {{form_errors(form.invoice_date)}}
  </div>
       <div class="flex-none w-1/3">
   <label class="block text-gray-700 text-sm font-bold mb-2" >
        {{form_label(form.invoice_number)}}
      </label>
    {{form_widget(form.invoice_number)}}
      {{form_errors(form.invoice_number)}}
    </div>



  <div class="flex-none w-1/3">
    <label class="block text-gray-700 text-sm font-bold mb-2" >
        {{form_label(form.client)}}
      </label>
    {{form_widget(form.client)}}
      {{form_errors(form.client)}}


  </div>
  

   
   </div>
   <div class="flex-none w-full"> 
  <h2 class=" block text-gray-700 text-sm font-bold mb-2 mt-5"> Invoice items </div> 
  <div class="flex flex-col invoice_items" data-prototype='  
  <div class="flex-grow"> 
  <label class="block text-gray-700 text-sm font-bold mb-2" > Quantity </label>
  <input type="number name="invoice[invoice_items][__name__][quantity]">  </div>
  <div class="flex-grow"> 
  <label class="block text-gray-700 text-sm font-bold mb-2" > Description </label>
  <textarea name="invoice[invoice_items][__name__][description]"> </textarea>
</div>
<div class="flex-grow"> 
  <label class="block text-gray-700 text-sm font-bold mb-2" > Net Amount </label>
  <input type="text name="invoice[invoice_items][__name__][net_amount]"> 
</div>
<div class="flex-grow"> 
  <label class="block text-gray-700 text-sm font-bold mb-2" > Vat Amount </label>
  <input type="text name="invoice[invoice_items][__name__][vat_amount]"> 
</div>'> 
  {% for invoice_item in form.invoice_items %}
  <div class="flex flex-row bg-gray-400 p-3 adda"> 
   
  <div class="flex-grow"> 
    <label class="block text-gray-700 text-sm font-bold mb-2" >{{form_label(invoice_item.quantity)}} </label>


          {{form_widget(invoice_item.quantity)}}
            {{form_errors(invoice_item.quantity)}}


  </div>
  
  <div class="flex-grow"> 
    <label class="block text-gray-700 text-sm font-bold mb-2" >{{form_label(invoice_item.description)}} </label>


          {{form_widget(invoice_item.description)}}
                      {{form_errors(invoice_item.description)}}


  </div>
  <div class="flex-grow"> 
     <label class="block text-gray-700 text-sm font-bold mb-2" >{{form_label(invoice_item.net_amount)}} </label>

          {{form_widget(invoice_item.net_amount)}}
                                {{form_errors(invoice_item.net_amount)}}


  </div>
   <div class="flex-grow"> 
     <label class="block text-gray-700 text-sm font-bold mb-2" >{{form_label(invoice_item.vat_amount)}} </label>

          {{form_widget(invoice_item.vat_amount)}}
                                          {{form_errors(invoice_item.vat_amount)}}


  </div>
  </div>

  {% endfor %}
  </div>
   <button class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded mt-2" id="newInvoiceItemButton" type="button">
  New Invoice item
</button>
   </div>
   <button class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-2">
  Save invoice
</button>
   </div>

{{form_end(form)}}
    </div>
   </div>

   <script> 
   var $collectionHolder;

// setup an "add a tag" link


jQuery(document).ready(function() {
    $collectionHolder = $('div.invoice_items');
    $addInvoiceItemButton = $("#newInvoiceItemButton");


   
    $collectionHolder.data('index', $collectionHolder.find(':input').length);

    $addInvoiceItemButton.on('click', function(e) {
        addInvoiceItemForm($collectionHolder, $addInvoiceItemButton);
    });

    function addInvoiceItemForm($collectionHolder, $addInvoiceItemButton) {
    var prototype = $collectionHolder.data('prototype');

    var index = $collectionHolder.data('index');

    var newForm = prototype;
   
    newForm = newForm.replace(/__name__/g, index);

    $collectionHolder.data('index', index + 1);

    var $newInvoiceItem = $(`<div class="flex flex-row bg-gray-400 p-3 a"> 
 </div>`).append(newForm);
    $addInvoiceItemButton.before($newInvoiceItem);

    // adding the removal button
        addInvoiceItemDeleteLink($newInvoiceItem);

}
function addInvoiceItemDeleteLink($newInvoiceItem) {
    var $removeFormButton = $(`
    <div class="flex-grow"> 
    <button class="bg-red-500 hover:bg-red-700 text-white font-bold  p-4 rounded">Delete invoice item</button>
    </div>
`);
    $newInvoiceItem.append($removeFormButton);

    $removeFormButton.on('click', function(e) {
        // remove the li for the tag form
        $newInvoiceItem.remove();
    });
}
});
   </script>
{% endblock %}